.image-container {
    width: 1109px;
    height: 685px;
    margin-left: 100px;
    background-size: cover;
  } 
  .hover-opacity-75:hover {
    opacity: 0.75;
    transition: opacity 0.3s ease-in-out; /* Adjust the transition duration and timing function as needed */
  }